.cont {
    font-size: 40px;
    position: absolute;
    top: 700px;
    left: 500px;   
}




.centre {
    position: absolute;
    left: -140px;
  
    
    

}


.div1 {
    border: 5px solid rgb(199, 198, 198);
    width: 400px;
    height: 520px;
    background-color: white;
    position: absolute;
    right: 525px;
    border-radius: 50px;
    a {text-decoration: underline rgb(116, 247, 207);
        color: black;
    }
    transition: .5s ease-in-out;
    
}

.div2 {
    border: 5px solid rgb(199, 198, 198);
    width: 400px;
    height: 520px;
    position: absolute;
    left: 525px;
    border-radius: 50px;
    a {text-decoration: underline rgb(116, 247, 207);
        color: black;
    }    
    background-color: white;
    transition: .5s ease-in-out;
}

.div3 {
    border: 5px solid rgb(199, 198, 198);
    width: 400px;
    height: 520px;
    background-color: white;
    position: absolute;
    top: 700px;
    left: 525px;    
    border-radius: 50px;
    a {text-decoration: underline rgb(116, 247, 207);
        color: black;
    }
    transition: .5s ease-in-out;
    
}

.div4 {
    border: 5px solid rgb(199, 198, 198);
    width: 400px;
    height: 520px;
    background-color: white;
    position: absolute;
    top: 700px;
    right: 525px;  
    border-radius: 50px;
    a {text-decoration: underline rgb(116, 247, 207);
        color: black;
    }
    transition: .5s ease-in-out;
    
}

body {
    background-color: rgba(223, 223, 223, 0.5);
}

.abotuuu {
    font-size:30px;
    position: absolute;
    right: 699px;
    top: 50px;

}

.პრეამბულა {
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 20px;
    color: grey;
}

.პრეამბულა1 {
    position: absolute;
    top: 190px;
    left: 100px;
    font-size: 20px;
    color: rgb(0, 0, 0)

}


.ტერმინთა-განმარტება {
    position: absolute;
    top: 380px;
    left: 100px;
    font-size: 20px;
    color: grey;
}

.ტერმინთა-განმარტება1 {
    position: absolute;
    top: 420px;
    left: 100px;
    font-size: 20px;
    color: rgb(0, 0, 0);

}



.ხელშეკრულების-გაფორმების-ზოგადი-წესები {
    position: absolute;
    top: 890px;
    left: 100px;
    font-size: 20px;
    color: grey;
}

.ხელშეკრულების-გაფორმების-ზოგადი-წესები1 {
    position: absolute;
    top: 930px;
    left: 100px;
    font-size: 20px;
    color: rgb(0, 0, 0);

}




.საქონლის-მიწოდების-ვადა {
    position: absolute;
    top: 1150px;
    left: 100px;
    font-size: 20px;
    color: grey;
}

.საქონლის-მიწოდების-ვადა1 {
    position: absolute;
    top: 1190px;
    left: 100px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}


.gamotoveba {
    position: absolute;
    top: 1400;
}


.centre1 {
    position: absolute;
    top: 1500px;
    left: 850px;
}

.ukan {
    position: absolute;
    top: 80px;
    left: 890px;
   
    a {text-decoration: underline 3px rgb(116, 247, 207);
        color: black;
    }


}

.body11 {
    background-color: rgba(223, 223, 223, 0.5);
}


.div1:hover {
    background-color: rgba(255, 250, 250, 0.555);
    width: 410px;
    height: 530px;

    
}


.div2:hover {
    background-color: rgba(255, 250, 250, 0.555);
    width: 410px;
    height: 530px;

}

.div3:hover {
    background-color: rgba(255, 250, 250, 0.555);
    width: 410px;
    height: 530px;

}


.div4:hover {
    background-color: rgba(255, 250, 250, 0.555);
    width: 410px;
    height: 530px;

}



.body111{
    background-color: hsl(34, 27%, 85%)
}
.div11{
    margin-left: 610px;
    margin-top: 220px;
    
}
.div22{
    margin-left: 930px;
    margin-top: -450px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <700>;
    font-style: normal;
}
.div33{
margin-left: 930px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: <700>;
font-style: normal;
}
.div44{
    margin-left: 930px;
    margin-top: -25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <700>;
    font-style: normal;
}
.div55{
    margin-left: 930px;
    margin-top: -25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <700>;
    font-style: normal;
}
.div66{
    margin-left: 930px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <500>;
    font-style: normal;
}
.div77{
    margin-left: 930px;
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <500>;
    font-style: normal;
}
.div88{
    margin-left: 930px;
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <500>;
    font-style: normal;
}
.div99{
    margin-left: 930px;
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <500>;
    font-style: normal;
}
.div100{
    margin-left: 930px;
    color: rgb(22, 97, 22);
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: <700>;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}
.div111{
    color: hsl(228, 12%, 48%);
    margin-left: 1070px;
    margin-top: -50px;
    text-decoration: line-through;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: <700>;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
    
}



.div122{
 margin-left: 935px;
 margin-top: 50px;
 border-radius: 10px; 
     background-color: rgb(37, 107, 37);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
    height: 25px;

  }

  .div199 {
    position: absolute;
    top: 50px;
    right: 890px;
  }
